body{
    font-family: Dosis;
    padding-top: 75px;
}
header {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    border-bottom: 4px solid rgb(255,0,0);
}
nav {
    float: right;
    padding: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
}
a, a:hover{
    color: rgb(255,0,0);
}
a:visited{
    color:rgb(100,0,255);
}


/*MEDIA QUERY*/
@media only screen and (max-width : 768px) {
    header {
        position: absolute;
        border-bottom: 4px solid red;
    }

    a, a:active, a:visited {
        color: white;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        position: absolute;
        background: #fff;
        right: 0;
        border: 5px solid #000;
        width: 100%;
    }

    nav li:last-of-type {
        border-bottom: 0px;
    }

    nav ul li {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 20px 0 20px 0;
        background-color: red;
        border-bottom: 1px solid #fff;
    }

    /*This makes sure the nav menu opens up */
    nav:hover ul {
        display: block;
    }

    #menu-icon {
        visibility: hidden;
        width: 40px;
        height: 40px;
        background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTk7z6qSJdV8wmm0xwR4nrK5OPwhOfXJPqzrIG3ynOlOoGHyc4PSyrvpQ) center;
        background-size: contain;
    }
}
.red{
    color:rgb(255,0,0);
}
.center{
    text-align: center;
}
.italic{
    font-style: italic;
}

.topic-element{
    font-size: 36px;
    font-family: Anton;
    margin: auto auto -5px auto;
    padding: 2px 0px 2px px;
}
.address{
    color: rgba(144, 144, 144, 0.833);
    font-style: italic;
}
p.subtopic{
    padding-left: 10px;
}
p.subtopic-desc{
    padding-left: 30px;
}
span.line-right{
    float:right;
}
ul.list-desc{
    padding-left: 40px;
}
h1#resume-name{
    font-size: 64px;
    margin-bottom: -20px;
}
div#skills-table{
    margin: 15px auto 25px auto;
}
table#s-table{
    margin-left: 25px;
}


