body{
    font-family: Dosis;
}
a{
    color: rgb(255,0,0);
}
a:visited,a:hover{
    color:rgb(100,0,255);
}
.red{
    color:rgb(255,0,0);
}
.center{
    text-align: center;
}
.italic{
    font-style: italic;
}

.topic-element{
    font-size: 36px;
    font-family: Anton;
    margin: auto auto -5px auto;
    padding: 2px 0px 2px px;
}
.address{
    color: rgba(144, 144, 144, 0.833);
    font-style: italic;
}
p.subtopic{
    padding-left: 10px;
}
p.subtopic-desc{
    padding-left: 30px;
}
span.line-right{
    float:right;
}
ul.list-desc{
    padding-left: 40px;
}
h1#resume-name{
    font-size: 64px;
    margin-bottom: -20px;
}
div#resume-top{
    margin-top: 20px;
}
div#skills-table{
    margin: 15px auto 25px auto;
}
table#s-table{
    margin-left: 25px;
}


